In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/content/train.csv")

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [10]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
dict1 = { "name":["priya","nikhil","sanjay","ravindra"],
           "age":[29,24,26,25],
           "city":["delhi","rohtak","bengaluru","Agra"]}

In [6]:

dict1

{'name': ['priya', 'nikhil', 'sanjay', 'ravindra'],
 'age': [29, 24, 26, 25],
 'city': ['delhi', 'rohtak', 'bengaluru', 'Agra']}

In [7]:
dataframe= pd.DataFrame(dict1)

In [8]:
dataframe

       name  age       city
0     priya   29      delhi
1    nikhil   24     rohtak
2    sanjay   26  bengaluru
3  ravindra   25       Agra

In [11]:
data.shape

(891, 12)

**How many null values are present in a given dataset.**

In [13]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**To access any column**

In [20]:
data[['Age','Fare','Cabin']]

      Age     Fare Cabin
0    22.0   7.2500   NaN
1    38.0  71.2833   C85
2    26.0   7.9250   NaN
3    35.0  53.1000  C123
4    35.0   8.0500   NaN
..    ...      ...   ...
886  27.0  13.0000   NaN
887  19.0  30.0000   B42
888   NaN  23.4500   NaN
889  26.0  30.0000  C148
890  32.0   7.7500   NaN

[891 rows x 3 columns]

In [21]:
type(data[['Age','Fare','Cabin']])

pandas.core.frame.DataFrame

In [22]:
type(data['Age'])

pandas.core.series.Series

**Descriptive Statistics in a given dataset**

In [23]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

**to access row data in a dataset**

In [25]:
## row indexing - loc
## to access 0 and 5th row reports
data.loc[[0,5]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [26]:
## specific row and column
data.iloc[2:4 , 0:2]

   PassengerId  Survived
2            3         1
3            4         1